/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Styling start */
html {
  font-size: 65%;
}

.top-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #131313;
  padding: 5px 15px;
  font-family: "Helvetica Neue", sans-serif;
}

.top-nav a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 1.35rem;
}

.top-nav a:hover {
  color: white;
}

.top-list-left li,
.top-list-right li {
  display: inline;
  padding: 0 5px;
}

.bottom-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 48px;
 
  background-color: white;
}

.bottom-nav ul {
  margin: 0;
  padding-left: 20px;
}

.bottom-nav ul li {
  display: inline;
  padding: 10px 20px 10px 0;
}

.bottom-nav a {
  text-decoration: none;
  color: rgb(170, 170, 170);
  font-size: 1.34rem;
  font-weight: 500;
  font-family: Shentox, sans-serif;
}

.bottom-nav a:hover {
  color: black;
}

.bottom-container {
  display: flex;
  flex-flow: column wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9898;
}

 .bottom-container .banner {
  background-color: rgb(255, 221, 51);
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
  font-family: "Helvetica Neue", sans-serif;
  padding: 4.4px 0 0 20px;
  cursor: pointer;
}

button {
  border-style: none;
  border-left: 1px solid lightgray;
  background-color: white;
  padding: 14px 20px;
  outline: none;
}

button:active {
  background-color: whitesmoke;
}

button .fa-search { 
  font-size: 1.8rem;
  color: rgb(170, 170, 170);
  cursor: pointer;
}

button .fa-search:hover {
  color: black;
}

.main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.main-left {
  width: 66%;
}

.main-right {
  width: 30%;
}

.main-left-header  {
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/01/Copy-of-Copy-of-Copy-of-Copy-of-...-2-1-796x417.png) no-repeat;
  background-size: 100%;
  height: 470px;
}

.header {
  position: absolute;
  width: 63%;
  bottom: 100px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.dayset {
 float: right;
 margin-right: 15px;
 margin-top: 15px;
}